body{
    background-image: url('logo1.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(1, 66, 90, 1.5);
    background-blend-mode: darken;

}
/*#01425a(255, 255, 255, 0.5)*/

#Titulo1 {
    color:chartreuse;
    /*background-color: #01425a;*/
    font-family: Arial, Helvetica, sans-serif;
    align-items: normal;
    animation-name: initial;
}


.parrafo {
    color:chartreuse;
    /*background-color: #01425a;*/
    font-family: Arial, Helvetica, sans-serif;
}
#Titulo2 {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#mail {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    width: 300;
}